@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@using WebApplication7.Utility;
@model List<Doctor>

@{
    ViewData["Title"] = "Doktorlar";
}

@if (User.IsInRole(UserRoles.Role_Admin))
{
    if (TempData["basarili"] != null)
    {
        <h2 style="color:forestgreen">@TempData["basarili"]</h2>
    }
}

@if (User.IsInRole(UserRoles.Role_Patient))
{
    if (TempData["basarili1"] != null)
    {
        <h2 style="color:forestgreen">@TempData["basarili1"]</h2>
    }
}

<div class="container">
    <label for="brans">Select Specialty:</label>
    <select id="brans">
        @{

            // Kontrol ettiğimiz id'leri bu listeye ekleyelim
            var displayedIds = new List<int>();

            foreach (var doctor in Model.Where(d => d.DoctorBrans != null))
            {
                // Daha önce eklenmiş bir id ise bu id'yi bir daha eklemeyelim
                if (!displayedIds.Contains(doctor.DoctorBrans.Id))
                {
                    <option value="@doctor.DoctorBrans.Id">@doctor.DoctorBrans.Id</option>

                    // Eklenen id'yi listede kaydedelim
                    displayedIds.Add(doctor.DoctorBrans.Id);
                }
            }
        }
    </select>


    <button id="araBtn" class="btn btn-primary">Search</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                @* <th class="text-primary">Doctors</th> *@
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <th class="text-primary">id</th>
                }
                @* <th class="text-primary">Doctor Name</th>
                <th class="text-primary">Polyclinic</th>
                <th class="text-primary">Working Times</th>
                <th class="text-primary">Specialty</th> *@
             @*    @if (User.IsInRole(UserRoles.Role_Patient))
                {
                    <th class="text-primary">Book Appointment</th>
                } *@
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <th style="color:forestgreen">Update</th>
                    <th class="text-danger">Delete</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var doktor in Model)
            {
                <tr>
                    <td align="center" valign="middle"></td>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td>@doktor.Id</td>
                    }
                    @* <td align="center" valign="middle">@doktor.DoctorName</td>
                    <td align="center" valign="middle">@doktor.Polyclinic</td>
                    <td align="center" valign="middle">@doktor.WorkingTimes</td>
                    <td align="center" valign="middle">@doktor.DoctorBrans?.Ad</td>
                    @if (User.IsInRole(UserRoles.Role_Patient))
                    {
                        <td align="center" valign="middle">
                            <a asp-controller="Appointment" asp-action="RandevuAl" asp-route-id="@doktor.Id" type="button" class="btn btn-success btn-sm">Book Appointment</a>
                        </td>
                    } *@
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td align="center" valign="middle">
                            <a asp-controller="Doctor" asp-action="EkleGuncelle" asp-route-id="@doktor.Id" type="button" class="btn btn-success btn-sm">Update</a>
                        </td>
                        <td align="center" valign="middle">
                            <a asp-controller="Doctor" asp-action="Sil" asp-route-id="@doktor.Id" type="button" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Doctor" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Add Doctor</a>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#brans").change(function () {
                var selectedBrans = $(this).val();
                $.ajax({
                    url: '/Doctor/GetDoctorsBySpecialty',
                    type: 'GET',
                    data: { brans: selectedBrans },
                    success: function (data) {
                        $("#doctors").empty();
                        $.each(data, function (index, item) {
                            $("#doctors").append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                    }
                });
            });

            $("#araBtn").click(function () {
                var selectedBrans = $("#brans").val();
                if (selectedBrans) {
                    // Redirect to the appropriate action with the selected specialty
                    window.location.href = '/Doctor/GetRecords?brans=' + selectedBrans;
                }
            });
        });
    </script>


}