@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model Doctor

@{
    ViewData["Title"] = "Doktor Sil";
}

<form method="post">
    <input asp-for="Id" hidden />
    <!--
        eğer modeldeki metodun adı Id yerine bambaşka bir şey olsaydı, bu satırı yazmayınca program hata verirdi.(şu an örnek olsun diye yazıldı)
        Çünkü buradaki "Id" ismi asp için özel bir isim ve bu ismi koyduğun an bunun databasedeki "id" kavramına eşdeğer olduğunu sistem otomatik olarak algılıyor.
    -->
    <div class="border p-3 mt-5">

        <div class="row pb-3">
            <h2 class="text" style="color:#311b63">>@Localizer["DeleteDoctor"]</h2>
            </hr>
        </div>


        <div class="mb-3">
            <label asp-for="DoctorName" class="p-0">>@Localizer["DoctorName"]</label>
            <input asp-for="DoctorName" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Polyclinic" class="p-0">>@Localizer["Polyclinic"]</label>
            <input asp-for="Polyclinic" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="WorkingTimes" class="p-0">>@Localizer["WorkingTime"]</label>
            <input asp-for="WorkingTimes" disabled class="form-control" />
        </div>



        <button type="submit" class="btn btn-lg " style="background-color:#311b63;color:aliceblue;width:250px">>@Localizer["Delete"]</button>

        <a asp-controller="Doctor" asp-action="Index" class="btn btn-lg " style="background-color:#311b63;color:aliceblue;width:250px">
            >@Localizer["BackToList"]
        </a>

    </div>
</form>

@*@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>

    }
     *@

<!-- buradaki razor section kısmı, modelde verilen hata mesajının, front endde de sağlamasını yapmak içindir. -->