@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model List<DoctorBrans>

@{
    ViewData["Title"] = "Doktor Branşları";
}

@if (TempData["basarili"] != null)
{
    <h2 style="color:forestgreen">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1 class="text" style="color:#311b63"> @Localizer["Specialties"]</h1>
        </div>
    </div>
    <table class="table table-bordered">

        <thead>


            <tr>
                <th class="text" style="color:#311b63">
                    @Localizer["Specialties"]
                </th>

                <th class="text-succcess">
                    @Localizer["Update"]

                </th>

                <th class="text-danger">
                    @Localizer["Delete"]
                    
                </th>
            </tr>


        </thead>


        <tbody>
            @foreach (var doctorBranslari in Model)
            {


                <tr>
                    <td>
                            @doctorBranslari.Ad
                       

                    </td>
                    <td>
                        <a asp-controller="DoctorBrans" asp-action="Guncelle" asp-route-id="@doctorBranslari.Id" type="button" class="btn btn-success btn-sm">
                            @Localizer["update"]
                        </a>
                    </td>
                    <td>
                        <a asp-controller="DoctorBrans" asp-action="Sil" asp-route-id="@doctorBranslari.Id" type="button" class="btn btn-danger btn-sm">
                            @Localizer["Delete"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="DoctorBrans" asp-action="Ekle" class="btn btn-lg" style="background-color:#311b63;color:aliceblue" type="button">
                @Localizer["AddSpecialty"]
            </a>
        </div>
    </div>


</div>