@using WebApplication7.Utility;
@model List<Appointment>
@{
    ViewData["Title"] = "Randevu İşlemleri";
}
@if (TempData["basarili"] != null)
{
    <h2 style="color:forestgreen">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1 class="text-primary">Rnadevu işlemleri</h1>
        </div>
    </div>
    <table class="table table-bordered">

        <thead>


            <tr>

                <th class="text-primary">
                    id
                </th>

                <th class="text-primary">
                   Hasta id
                </th>


                <th class="text-primary">
                   Doktor adı
                </th>
                <th class="text-primary">
                    Randevu zamanı
                </th>
                <th style="color:forestgreen">
                   Güncelle
                </th>

                <th class="text-danger">
                   Sil
                </th>



            </tr>


        </thead>


        <tbody>
            @foreach (var appointment in Model)
            {


                <tr>

                    <td>@appointment.Id</td>
                    <td>@appointment.PatientName</td>


                    <!-- <td>@*@randevu.DoktorId*@</td>-->
                    <td>@appointment.Doctor.DoctorName</td>
                    <td>@appointment.Doctor.WorkingTimes</td>

                    <td>
                        <a asp-controller="Appointment" asp-action="EkleGuncelle" asp-route-id="@appointment.Id" type="button" class="btn btn-success btn-sm"> güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Appointment" asp-action="Sil" asp-route-id="@appointment.Id" type="button" class="btn btn-danger btn-sm">Sil</a>
                    </td>


                </tr>
            }
        </tbody>

    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Appointment" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button"> Yeni randevu</a>
        </div>
    </div>


</div>
