﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@using WebApplication7.Utility;
@model Appointment

@{
    ViewData["Title"] = "Randevu Al";
}
@if (User.IsInRole(UserRoles.Role_Admin))
{
    if (TempData["basarili"] != null)
    {
        <h2 style="color:forestgreen">@TempData["basarili"]</h2>
    }
}

@if (User.IsInRole(UserRoles.Role_Patient))
{
    if (TempData["basarili1"] != null)
    {
        <h2 style="color:forestgreen">@TempData["basarili1"]</h2>
    }
}

<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-5">

                <div class="row pb-3">
                    <h2 class="text" style="color:#311b63">@Localizer["AddAppointment"]</h2>
                    <br>
                </div>
                <div class="mb-3">
                    <label asp-for="PatientName" class="p-0" style="color:#311b63">@Localizer["PatientName"]</label>
                    <input asp-for="PatientName" class="form-control" readonly value="@User.Identity.Name" />
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BransId" class="p-0" style="color:#311b63">@Localizer["Specialty"]</label>
                    <select asp-for="BransId" asp-items="ViewBag.BransList" class="form-select" id="branchDropdown" onchange="displaySelectedBranch()"></select>
                    <span asp-validation-for="BransId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DoctorId" class="p-0" style="color:#311b63">@Localizer["DoctorName"]</label>
                    <select asp-for="DoctorId" asp-items="ViewBag.DoktorList" class="form-select" id="doctorDropdown"></select>
                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-lg " style="background-color:#311b63;color:aliceblue;width:250px"> @Localizer["AddAppointment"]</button>
            </div>
        </div>
    </div>
</form>
